body {

background-color:rgba(238, 255, 7, 0.349);

}


.description {

background-color:#ffd23c;
/*This color is golden poppy, 25% lighter*/

font-weight: bold;

}

h3 {

    background-color:#aa8e9a;
    /*This color is Thistle*/
    
    }

li {

font-style: italic;

}

p {

font-size: 22px;

}

a, h1 {

color:rgb(146, 4, 4);
text-decoration: none;

}